
header nav{
    background-color: black;
    color: white;
}
header nav a{
    color: white;
    padding: 2px;
}
div a{
    padding: 5px;
}
div a .menu-2{
    margin-left: 7rem;
}
div.login{
    margin-left: auto;
    padding-right: 5px;
}
div.login:hover{
    color: white;
    text-decoration: underline;
}
div button.btn{
    border-radius: 8px;
    padding: 10px;
}
div button.btn:hover{
    color: white;
    text-decoration: underline;
}